:root {
    --right-side-bar-width: 300px;
}

.right-side-bar {
    display: flex;
    flex-direction: column;
    width: var(--right-side-bar-width);
    height: 100%;
    background-color: var(--color-third-1);

    &-header {
        display: flex;
        justify-content: flex-end;
        height: 40px;

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 100%;
            border: none;
            background: none;
            color: var(--color-second-3);

            & > svg {
                width: 30%;
                width: 30%;

                & > path {
                    fill: currentColor;
                }
            }
        }
    }

    @media (max-width: 550px) {
        position: absolute;
        width: 100%;
    }
}
